.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 67px;
    font-size: 18px;
}
.header ul {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    li {
        list-style: none;
        a {color: #fff;display: flex;
            align-items: center;}
    }
    li.active {
        cursor: pointer;
        background-color: #242F3F;
        padding: 14px 51px;
        border-radius: 20px;
        box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.2);
    }
    li:not(.active) {
        margin-top: 14px;
    }
}
.header nav ul ul {
	display: none;
	position: absolute; 
	top: 100px;
    left: 5%;
    color: #fff;
    text-align: center;
    width: 14.4%;
    list-style: none;
    border-radius: 0px 0px 20px 20px;
     /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
.header nav ul li:hover > ul {
    text-align: center;
    
	display:inherit;
    background-color: #242F3F;
}
	
/* Fisrt Tier Dropdown */
.header nav ul ul li {
	float:none;
    height: 40px;
    text-align: center !important;
	display:list-item;
	position: relative;
}
.header nav ul ul li a {
    text-align: center;
}

.header nav ul ul li:hover {
    text-align: center;
	background-color: #1d2533;
}

.icon {
    color: #fff;
    margin-right: 15px;
}

.user_profile_icon {
    color: #FFF;
    margin-top: 14px;
}