.main_section {
    display: flex;
    background-color: #20262E;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}
.pageTitle {
    color: #fff;
}

.form_input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: rgb(238, 238, 238);
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    width: 250px;
}
.form_input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}
.form_field {
    margin-bottom: 10px;
}

.form_button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
.form_buttonReg {
    width: 130px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}