.body {
  background: rgb(220,253,255); 
  background: linear-gradient(135deg, rgba(220,253,255,1) 20%, rgba(215,164,255,1) 150%);
  /* background: linear-gradient(135deg, rgba(220,253,255,1) 20%, rgba(215,164,255,1) 150%); */
  min-height: 100%;
}


/*   MAIN SECTION   */

.main_section {
  width: 90%;
  height: 602px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  margin-top: 68px;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-evenly;
  
}

.main_section .main_text {
  margin: auto auto;
  margin-left: 69px;
}

.main_section .main_text .title {
    width: 55%;
    font-weight: 800;
    font-size: 30px;
}
.main_section .main_text .desc {
  width: 80%;
  font-size: 20px;
  margin-top: 65px;
}

.main_section .main_image {
  margin: auto 40px auto 0px;
}


/*  SOLUTION SECTION   */

.solution {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 120px;
}

.solution .solution_title {
  font-size: 30px;
  font-weight: 800;
}

.solution .solution_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.solution .solution_cards .solution_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.05);
  width: 25%;
  height: 455px;
  border-radius: 20px;
  
}
.solution .solution_cards .solution_card p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
}


/*    TECHNOLOGIES SECTION    */
.techs {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 120px;
}

.techs .techs_title {
  font-size: 30px;
  font-weight: 800;
}

.techs .techs_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 81%;
} 

.techs .techs_cards .techs_card,
.techs .techs_cards2 .techs_card  {
  display: flex;
  width: 300px;
  height: 55px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  font-weight: 300;
}

.techs .techs_cards .techs_card img,
.techs .techs_cards2 .techs_card img {
  margin: auto 0px auto 26px;
  /* margin-left: 26px; */
}

.techs .techs_cards .techs_card span,
.techs .techs_cards2 .techs_card span {
  margin: auto 0px auto 21px;
}

.techs .techs_cards2  {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 50%;
}

.footer {
  margin-top: 70px;
  width: 100%;
  color: #fff;
  background-color: #333;
  text-align: center;
}
.footer p {
  padding: 10px;
}